#board {
    position: relative;
    width: 90%;
    top: 5%;
    left: 4.9137931%;
    bottom: 5%;
}

.piece {
    position: absolute;
    width: 60%;
    top: 20%;
    left: 20%;
}

.c0r0 {
    position: absolute;
    top: -3.5%;
    left: -3.5%;
    width: 14%;
    height: 14%;
  
}

.c0r1 {
    position: absolute;
    top: -3.5%;
    left: 43%;
    width: 14%;
    height: 14%;
  
}

.c0r2 {
    position: absolute;
    top: -3.5%;
    left: 89%;
    width: 14%;
    height: 14%;
  
}

.c0r3 {
    position: absolute;
    top: 42.5%;
    left: 89%;
    width: 14%;
    height: 14%;
  
}

.c0r4 {
    position: absolute;
    top: 89.5%;
    left: 89%;
    width: 14%;
    height: 14%;
  
}

.c0r5 {
    position: absolute;
    top: 89.5%;
    left: 43%;
    width: 14%;
    height: 14%;
  
}

.c0r6 {
    position: absolute;
    top: 89.5%;
    left: -3.5%;
    width: 14%;
    height: 14%;
  
}

.c0r7 {
    position: absolute;
    top: 42.5%;
    left: -3.5%;
    width: 14%;
    height: 14%;
  
}

.c1r0 {
    position: absolute;
    top: 11.5%;
    left: 12%;
    width: 14%;
    height: 14%;
  
}

.c1r1 {
    position: absolute;
    top: 11.5%;
    left: 43%;
    width: 14%;
    height: 14%;
  
}

.c1r2 {
    position: absolute;
    top: 11.5%;
    left: 74%;
    width: 14%;
    height: 14%;
  
}

.c1r3 {
    position: absolute;
    top: 42.5%;
    left: 74%;
    width: 14%;
    height: 14%;
  
}

.c1r4 {
    position: absolute;
    top: 75%;
    left: 74%;
    width: 14%;
    height: 14%;
  
}

.c1r5 {
    position: absolute;
    top: 75%;
    left: 43%;
    width: 14%;
    height: 14%;
  
}

.c1r6 {
    position: absolute;
    top: 75%;
    left: 12%;
    width: 14%;
    height: 14%;
  
}

.c1r7 {
    position: absolute;
    top: 42.5%;
    left: 12%;
    width: 14%;
    height: 14%;
  
}

.c2r0 {
    position: absolute;
    top: 27.5%;
    left: 28%;
    width: 14%;
    height: 14%;
  
}

.c2r1 {
    position: absolute;
    top: 27.5%;
    left: 43%;
    width: 14%;
    height: 14%;
  
}

.c2r2 {
    position: absolute;
    top: 27.5%;
    left: 58%;
    width: 14%;
    height: 14%;
  
}

.c2r3 {
    position: absolute;
    top: 42.5%;
    left: 58%;
    width: 14%;
    height: 14%;
  
}

.c2r4 {
    position: absolute;
    top: 59%;
    left: 58%;
    width: 14%;
    height: 14%;
  
}

.c2r5 {
    position: absolute;
    top: 59%;
    left: 43%;
    width: 14%;
    height: 14%;
  
}

.c2r6 {
    position: absolute;
    top: 59%;
    left: 28%;
    width: 14%;
    height: 14%;
  
}

.c2r7 {
    position: absolute;
    top: 42.5%;
    left: 28%;
    width: 14%;
    height: 14%;
  
}

@keyframes white-blink {
    50% {
        filter: brightness(0.8);
        -webkit-filter: brightness(0.8);
    }
}
@-webkit-keyframes white-blink {
    50% {
        filter: brightness(0.8);
        -webkit-filter: brightness(0.8);
    }
}

@keyframes black-blink {
    50% {
        filter: brightness(1.6);
        -webkit-filter: brightness(1.6);
    }
}
@-webkit-keyframes black-blink {
    50% {
        filter: brightness(1.6);
        -webkit-filter: brightness(1.6);
    }
}